@media (min-width: 1201px) {
    .box-portfolio {
        &.style-4 {
            .content {
                .title {
                }
            }
            &:hover {
                .content {
                }
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1300px) {
    .s-service {
        .box-icon {
            .caption {
                display: -webkit-box;
                -webkit-line-clamp: 1; /* Giới hạn số dòng là 4 */
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-bottom: 0px;
                &::after {
                    content: none;
                }
            }
            .icon {
                width: 100px;
                height: 100px;
                i {
                    font-size: 50px !important;
                }
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .box-portfolio {
        &.style-4 {
            .content {
                height: 65px;

                .title {
                    font-size: 18px;
                    margin-top: -60px;
                }
            }
            &:hover {
                .content {
                    .icon {
                        margin-bottom: 15px;
                    }
                    .title {
                        margin-bottom: 15px;
                        padding-bottom: 20px;
                    }
                    .text {
                        margin-bottom: 20px;
                        display: -webkit-box;
                        -webkit-line-clamp: 3; /* Giới hạn số dòng là 4 */
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .s-testimonial {
        &.style-2 {
            .wrap {
                .image {
                    width: 52%;
                }
                .content-section {
                    width: 49%;
                }
            }
        }
    }
}

// ----------------------------------

@media (max-width: 1600px) {
    .s-our-commitment {
        .main-section {
            gap: 30px;
            .content-section {
                width: 50%;
                .box-icon {
                    .caption {
                        display: -webkit-box;
                        -webkit-line-clamp: 2; /* Giới hạn số dòng là 4 */
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
            .image-wrap {
                width: 70%;
                .image {
                    max-width: unset;
                    width: unset;
                    height: 100%;
                }
                img {
                    object-fit: cover;
                    height: 100%;
                }
            }
        }
    }
    .page-title-home-1 {
        .btn-slide-home-1 {
            &.btn-prev {
                right: 70px;
                left: unset;
                top: 55%;
            }
        }
    }
    .slide-home-1 {
        .content-wrap {
            padding: 121px 20px 100px 20px;
            br {
                display: block !important;
            }
        }
    }
    .header {
        .header-inner {
            gap: 20px;
            .header-left {
                .logo-site {
                    padding-top: 0px;
                    padding-right: 60px;
                }
                .nav-list {
                    gap: 34px;
                }
            }
        }
    }
}
@media (max-width: 1440px) {
    .s-service {
    }
    .s-about-us {
        .main-section {
            .content-left {
                width: 60%;
                max-width: unset;
                .image {
                    height: auto;
                    max-height: unset;
                    img {
                    }
                }
            }
            .content-right {
                width: 40%;
                .has-border {
                    padding: 15px !important;
                }
                .wg-counter {
                    max-width: unset;
                }
                .box-trust {
                    height: auto;
                }
            }
        }
    }
    .box-portfolio {
        &.style-4 {
            .content {
                top: unset;
            }
            &:hover {
                .content {
                    top: unset;
                }
            }
        }
    }
    .article-blog-item {
        &,
        &.type-2 {
            .image {
                .video-wrap {
                    height: 100%;
                    img {
                        height: 100%;
                    }
                }
            }
        }
    }
    .subscribe-wrap {
        .has-border {
            gap: 43px;
        }
    }
    br {
        display: none;
    }
    .tf-topbar {
        .topbar-inner {
            .topbar-left {
                text-align: center;
                max-width: 230px;
                flex-wrap: wrap;
                gap: 8px;
                justify-content: center;
                white-space: nowrap;
                span {
                    &::after {
                        content: none !important;
                    }
                }
            }
            .topbar-right {
                gap: 30px;
                .contact-list {
                    gap: 15px;
                    .item {
                        gap: 5px;
                    }
                }
            }
        }
    }
    .header {
        .header-inner {
            .header-left {
                .nav-list {
                    gap: 25px;
                    .item {
                        &::before {
                            left: -17px !important;
                            font-size: 20px !important;
                        }
                    }
                }
            }
            .header-right {
                padding-right: 0px;
                gap: 20px;
                .tf-btn {
                    gap: 20px;
                    padding: 6px 5px 6px 28px;
                }
                .icon-wrap {
                    gap: 5px;
                }
            }
        }
        .box-welcome {
            display: none !important;
        }
    }
    .page-title {
        .img-item {
            img {
                width: 100%;
                height: 50px;
                max-width: 1920px;
                object-fit: cover;
            }

            &.item-2 {
                img {
                    object-position: right;
                }
            }
            &.item-1 {
                img {
                    object-fit: cover;
                }
            }
        }
    }
    .footer {
        .img-item {
            &.item-1 {
                width: 100%;
                img {
                    height: 23px;
                    max-width: 1920px;
                    object-fit: cover;
                }
            }
        }
    }
}
@media (max-width: 1300px) {
    .s-why-us {
        .box-video {
            top: 10px !important;
            left: 10px !important;
        }
    }
    .box-portfolio {
        &.style-4 {
            &:hover {
                .content {
                    padding: 30px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .s-why-us {
        .main-section {
            .content-section {
                padding-top: 30px;
            }
        }
        .bot {
            margin-top: -100px;
            margin-left: 20px;
        }
    }
    .footer {
        .footer-inner {
            .footer-inner-wrap {
                .footer-title {
                    margin-bottom: 20px !important;
                }
                .contact-list {
                    li {
                        gap: 8px;
                        p {
                            line-height: 20px;
                        }
                    }
                }
                .new-post-list {
                    .item {
                        gap: 8px;
                    }
                }
            }
        }
    }
    .article-blog-item {
        &,
        &.type-2 {
            padding: 15px;
            gap: 30px;
        }
        .content {
            .entry-meta {
                gap: 20px;
                padding-bottom: 15px;
                margin-bottom: 15px;
                .entry {
                    white-space: nowrap;
                    &:not(:last-child) {
                        &::after {
                            right: -10px;
                        }
                    }
                }
            }
            .text {
                margin-bottom: 30px;
            }
            .bot {
                .share {
                    transform: translateX(0px);
                    .social-list {
                        @include visible;
                    }
                    p {
                        margin-right: 10px !important;
                    }
                }
            }
        }
    }
    .subscribe-wrap {
        .has-border {
            gap: 20px;
            // flex-wrap: wrap;
            .notice {
                // flex-shrink: unset;
                .content-inner {
                    max-width: 400px;
                }
            }
        }
    }
    .header {
        padding: 15px 0px;
        .logo-site {
            padding-right: 0px !important;
        }
        .main-nav {
            display: none;
        }
        .mobile-button {
            display: block;
        }
        .fixed-header {
            padding: 15px 0px 0px;
        }
    }
    .tf-topbar {
        .topbar-inner {
            .topbar-right {
                .social-list {
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    .article-blog-item {
        .content {
            .entry-meta {
                flex-wrap: wrap;
                gap: 10px 0px;
                .entry {
                    width: 50%;
                    justify-content: flex-start;
                    &:not(:last-child) {
                        &::after {
                            content: "";
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .s-our-commitment {
        padding-top: 120px;
        .main-section {
            flex-wrap: wrap-reverse;
            .image-wrap {
                width: 100%;
                .image {
                    img {
                        height: 500px;
                    }
                }
            }
            .content-section {
                padding-top: 0px;
                width: 100%;
                max-width: unset;
                .text {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .s-why-us {
        padding-top: 35px;
        .main-section {
            .content-section {
                padding-top: 10px;
                width: 50%;
                max-width: unset;
            }
            .image {
                width: 70%;
                border-radius: 20px;
                overflow: hidden;
            }
            .video-wrap {
                img {
                    max-width: unset;
                }
            }
        }
        .bot {
            margin-top: 30px;
            margin-left: 0px;
        }
    }
    .s-service {
        padding-top: 60px;
        padding-bottom: 90px;
        .heading-section {
            padding-bottom: 0px;
        }
        .box-icon {
            max-width: unset;
            margin-bottom: 30px;
        }
        .s-img-item {
            pointer-events: none;
            &.item-3 {
                width: 100%;
                height: 30px;
                bottom: -15px;
                img {
                    height: 30px;
                    width: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }
        }
    }
    .heading-section {
        margin-bottom: 15px !important;
        .img-item {
            margin-bottom: 0px !important;
        }
        .sub-title {
            margin-bottom: 0px;
        }
        &.has-text {
            .title {
                margin-bottom: 0px;
            }
            .text {
                margin-bottom: 15px;
            }
        }
    }
    .s-about-us {
        padding-top: 80px;
        padding-bottom: 35px;
        .main-section {
            gap: 60px;
            flex-wrap: wrap;
            .heading-section {
                margin-bottom: 10px !important;
            }
            .content-left {
                width: 100% !important;
                .text-1 {
                    margin-bottom: 5px;
                }
                .text-2 {
                    margin-bottom: 15px;
                }
                .tf-btn {
                    margin-bottom: 35px;
                }
            }
        }
        .content-right {
            width: 100% !important;
        }
    }
    .box-portfolio {
        &.style-4 {
            .image {
                img {
                    width: 100%;
                    height: 500px;
                    object-fit: cover;
                }
            }
            &.mb-s-991 {
                margin-bottom: 30px;
            }
        }
    }
    .header {
        .header-item {
            img {
                height: 25px;
                object-fit: cover;
                object-position: bottom;
            }
        }
    }
    .page-title-home-1 {
        .btn-slide-home-1 {
            right: 20px !important;
            &.btn-next,
            &.btn-prev {
                transform: translateY(150px);
            }
        }
        .slide-home-1 {
            .image {
                img {
                    height: 550px;
                }
            }
            .content-wrap {
                padding: 65px 15px;
            }
        }
    }
    .blog-right-sidebar-wrap {
        margin-right: 0px;
        margin-bottom: 100px;

        .article-blog-item {
            .image {
                img {
                    max-height: unset !important;
                }
            }
        }
    }
    .footer {
        padding-top: 100px;
        .footer-top {
            margin-bottom: 40px;
            gap: 20px;
            flex-wrap: wrap;
            .footer-left {
                width: 100%;
            }
        }
        .footer-inner {
            margin-bottom: 10px;
            .footer-inner-wrap {
                margin-bottom: 30px;
                .footer-title {
                    // margin-bottom: 20px !important;
                }
            }
        }
    }
    .article-blog-item {
        flex-wrap: wrap;
        &,
        &.type-2 {
            .image {
                width: 100%;
                max-width: unset;
                height: 500px;
                overflow: hidden;
                .video-wrap {
                    width: 100%;
                    img {
                        width: 100%;
                        max-width: unset;
                    }
                }
            }
            .content {
                padding-top: 0px;
                .entry-meta {
                    flex-wrap: unset !important;
                    gap: 43px !important;
                    .entry {
                        width: unset;
                        justify-content: flex-start;
                        &:not(:last-child) {
                            &::after {
                                content: "/";
                                right: -23px;
                            }
                        }
                    }
                }
            }
        }
    }
    .subscribe-wrap {
        .has-border {
            padding: 20px;
            flex-wrap: wrap;
            .notice {
                flex-shrink: unset;
                .content-inner {
                    margin-top: 0px;
                    max-width: unset;
                    width: 100%;
                    gap: 0px;
                    justify-content: center;
                }
            }
        }
    }
    .main-content {
        padding: 100px 0px;
    }
    .tf-topbar {
        .topbar-inner {
            .topbar-right {
                gap: 25px;
                .contact-list {
                    gap: 10px;
                    a {
                        display: none;
                    }
                }
                .social-list {
                    display: flex;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    h1 {
        font-size: 80px;
        line-height: 80px;
    }
    .s-why-us {
        .main-section {
            flex-wrap: wrap;
            .image {
                width: 100%;
                .video-wrap {
                    width: 100%;
                }
                img {
                    width: 100%;
                    height: 500px;
                }
            }
            .content-section {
                width: 100%;
                padding-top: 0px;
                .heading-section {
                    margin-bottom: 10px;
                }
                .img-item {
                    margin-bottom: 0px;
                }
                .text {
                    margin-bottom: 15px;
                }
            }
        }
        .bot {
            .benefit-list {
                li {
                    padding: 15px 20px !important;
                }
            }
        }
    }
    .page-title-home-1 {
        .slide-home-1 {
            .image {
                img {
                    height: 500px;
                }
            }
            br {
                display: none !important;
            }
            .sub-title {
                margin-bottom: 0px !important;
            }
            .img-item {
                margin-bottom: 10px !important;
            }
            .text {
                margin-bottom: 20px !important;
            }
        }
    }
    .footer {
        .footer-inner {
            .footer-inner-wrap {
                .footer-title {
                    margin-bottom: 15px !important;
                }
            }
        }
        .footer-bottom {
        }
    }
    .subscribe-wrap {
        .has-border {
            .notice {
                gap: 20px;
            }
        }
    }
    .main-content {
        padding: 80px 0px;
    }
    .page-title {
        padding-top: 100px;
        // padding: ;
        .content {
            .icon-img {
                margin-bottom: 50px;
            }
        }
    }
}
@media (max-width: 650px) {
    .s-why-us {
        .bot {
            .benefit-list {
                flex-wrap: wrap;
                li {
                    max-width: unset;
                    &:not(:last-child) {
                        &::after {
                            content: "";
                            width: 100%;
                            height: 1px;
                            bottom: 0;
                            top: unset;
                            border-bottom: 1px dashed var(--Border-3);
                            // background-color: ;
                        }
                    }
                    .icon {
                        margin-bottom: 5px;
                    }
                    .title {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
    .block-quote {
        &,
        &.style-2 {
            .has-border {
                padding: 20px;
                .quote {
                    gap: 10px;
                }
            }
        }
    }
    .article-blog-item {
        &,
        &.type-2 {
            .content {
                .entry-meta {
                    flex-wrap: wrap !important;
                    gap: 10px 0px !important;
                    .entry {
                        width: 40%;
                        justify-content: flex-start;
                        &:not(:last-child) {
                            &::after {
                                content: "";
                            }
                        }
                    }
                }
            }
        }
    }
    .header {
        .header-inner {
            .header-right {
                gap: 15px;
                .icon-wrap {
                    display: none;
                }
            }
        }
    }
    .topbar-right {
        .social-list {
            padding: 10px 20px !important;
            gap: 15px !important;
        }
    }
}
@media (max-width: 550px) {
    h1 {
    }
    .s-our-commitment {
        .main-section {
            .content-section {
                .box-icon-list {
                    gap: 20px 0px;
                    flex-wrap: wrap;
                    .box-icon {
                        max-width: unset;
                        padding: 0px 20px;
                    }
                    li {
                        width: 50%;
                    }
                }
                .tf-btn {
                    padding: 5px 5px 5px 15px;
                    gap: 10px;
                }
            }
        }
    }
    .page-title-home-1 {
        .slide-home-1 {
            .content-wrap {
                padding: 35px 15px;
                .content {
                    .sub-title {
                        font-size: 20px;
                    }
                    .text {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
        .btn-slide-home-1 {
            img {
                max-width: 60px;
            }
        }
    }
    .block-quote {
        .has-border {
            .quote {
                .icon {
                    display: none;
                }
            }
        }
    }
    .subscribe-wrap {
        .notice {
            .icon {
                display: none;
            }
        }
    }
    .topbar-right {
        .contact-list {
            display: none !important;
        }
    }
}
@media (max-width: 500px) {
    .header-right {
        .tf-btn {
            display: none;
        }
    }
}
@media (max-width: 450px) {
    .s-about-us {
        .box-trust {
            padding: 15px !important;
            .box-icon-list {
                margin-bottom: 30px !important;
                .caption {
                    font-size: 16px !important;
                    line-height: 26px !important;
                }
            }
            .benefit-list {
                padding-bottom: 15px !important;
                margin-bottom: 15px !important;
            }
            li {
                &:not(:last-child) {
                    margin-bottom: 8px !important;
                }
            }
        }
        .wg-counter {
            padding: 15px !important;
            .icon {
                top: 10px !important;
                right: 10px !important;
            }
            .counter {
                .odometer {
                    span {
                        font-size: 50px;
                    }
                }
            }
            .sub-odo {
                font-size: 40px !important;
                bottom: -6px;
            }
        }
    }
    .box-portfolio {
        &.style-4 {
            .image {
            }
            .content {
                height: 60px;
                .title {
                    margin-top: -63px;
                    font-size: 18px;
                }
            }
        }
    }
    .btn-slide-home-1 {
        display: none;
    }
    .s-filter-sorting {
        margin-bottom: 30px;
    }
    .block-quote {
        .has-border {
            .bot {
                .meta-left {
                    flex-wrap: wrap;
                    gap: 0px 38px;
                    justify-content: flex-start;
                    .entry {
                        &:after {
                            content: none !important;
                        }
                    }
                }
                .entry-author {
                    overflow: hidden; /* Ẩn phần nội dung tràn ra ngoài */
                    a {
                        text-overflow: ellipsis; /* Thêm dấu ba chấm ở cuối */
                        overflow: hidden; /* Ẩn phần nội dung tràn ra ngoài */
                        white-space: nowrap; /* Không cho phép xuống dòng */
                    }
                }
            }
        }
    }
    h1 {
        font-size: 60px;
        line-height: 60px;
    }
    .page-title {
        padding-top: 80px;
        .content {
            .sub-title {
                line-height: 20px;
                margin-bottom: 5px;
            }
        }
        .img-item {
            &.item-1 {
                // bottom: 96%;
            }
        }
    }
    .tf-topbar {
        .topbar-inner {
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;

            .topbar-left {
                width: 100%;
                justify-content: center;
                position: relative;

                span {
                    width: 100%;
                    text-align: center;
                }
            }
            .topbar-right {
                .social-list {
                    padding: 6px 17px !important;
                }
            }
        }
    }
}
