.main-content {
    &.page-index {
        padding-top: 0px;
    }
}
.tf-spacing-1 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.tf-spacing-2 {
    padding-top: 100px;
    padding-bottom: 0px;
}
.tf-spacing-3 {
    padding-top: 0px;
    padding-bottom: 100px;
}
.tf-spacing-1 {
}
.heading-section {
    margin-bottom: 30px;
    .sub-title {
        color: var(--Text-4);
        font-family: $font-main6;
        font-size: 23px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .title {
        font-size: 45px;
        line-height: 55px;
        font-family: $font-main5;
        color: var(--Text-2);
        font-weight: 700;
    }
    &.has-text {
        .title {
            margin-bottom: 20px;
        }
        .text {
            color: var(--Text-2);
            margin-bottom: 20px;
        }
    }
    &.style-2 {
        .img-item {
            margin-bottom: 20px;
            @include d-flex();
            align-items: center;
            .item {
                margin-right: 15px;
            }
            .sub-title {
                margin-bottom: 0px;
            }
        }
    }
    &.style-3 {
        // text-align: center;
        .sub-title {
            color: var(--Secondary);
        }
        .title {
            color: var(--White);
        }
        .text {
            color: var(--Text-3);
        }
    }
}
.s-sub {
    margin-bottom: 79px;
}
.s-filter-sorting {
    margin-bottom: 50px;
    .s-top {
        @include flex(center, space-between);
        gap: 20px;
        flex-wrap: wrap;
        .text {
            color: var(--Text-2);
            font-weight: 500;
        }
    }
}

.s-product-detail {
    .tf-product-media-main {
        margin-bottom: 17px;
        border-radius: 20px;
        border: 1px solid var(--Border);
        overflow: hidden;
        max-width: 550px;
        width: 100%;
        max-height: 535px;
        margin-left: 0px;
        .image {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .tf-product-media-thumbs {
        max-width: 550px;
        width: 100%;
        margin: 0px;
        .image {
            border-radius: 20px;
            border: 1px solid var(--Border);
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .content-inner {
        .title {
            margin-bottom: 20px;
        }
        .rating-wrap {
            @include d-flex();
            gap: 15px;
            align-items: center;
            margin-bottom: 20px;
        }
        .price-wrap {
            margin-bottom: 25px;
        }
        .sub {
            margin-bottom: 30px;
        }
        .notice-list {
            margin-bottom: 30px;
            li {
                @include d-flex();
                align-items: center;
                gap: 15px;
                svg {
                    width: 22px;
                    height: 22px;
                }
                p {
                    font-family: $font-main5;
                    color: var(--Text-2);
                    font-weight: 500;
                }
            }
        }
        .more-infor {
            margin-bottom: 20px;
            li {
                p {
                    font-family: $font-main5;
                    a {
                        color: var(--Text);
                        &:hover {
                            color: var(--Text-4);
                        }
                    }
                }
            }
        }
        .bot {
            @include d-flex();
            align-items: center;
            gap: 20px;
            .text {
                color: var(--Text-2);
            }
        }
    }
}
.s-break-page {
    // margin-top: 23px;
    // height: 400px;
    // background-color: var(--Secondary);
    // position: relative;
    // z-index: 3;
    // .img-item {
    //     position: absolute;
    //     &.item-1 {
    //         top: -20px;
    //         left: 0;
    //         width: 100%;
    //         img {
    //             height: 23px;
    //             width: 100%;
    //             object-fit: cover;
    //         }
    //     }
    //     &.item-2 {
    //         right: 0;
    //         bottom: 0;
    //     }
    //     &.item-3 {
    //         bottom: -40px;
    //         left: 0;
    //         width: 100%;

    //         img {
    //             width: 100%;
    //             height: 60px;
    //         }
    //     }
    // }
}
.s-box-portfolio {
    position: relative;
    z-index: 4;
    margin-top: -300px;
    margin-bottom: 115px;
}
.s-about-us {
    .main-section {
        @include d-flex();
        // justify-content: space-between;
        gap: 30px;
        .content-left {
            max-width: 820px;
            width: 100%;
            flex-shrink: 0;
            .text-1 {
                margin-bottom: 20px;
            }
            .text-2 {
                margin-bottom: 40px;
            }
            .btn-read-more {
                margin-bottom: 50px;
            }
            .image {
                border-radius: 20px;
                overflow: hidden;
            }
        }
        .content-right {
            width: 100%;
            @include d-flex();
            flex-direction: column;
            gap: 20px;
            .box-trust {
                height: 100%;
                border-radius: 20px;
                padding: 19px;
                background-color: var(--Primary);
                .has-border {
                    border-radius: 15px;
                    border: 1px dashed var(--Border-3);
                    padding: 60px 35px 50px;
                    height: 100%;
                }
                .benefit-list {
                    border-bottom: 1px solid var(--Border-3);
                    padding-bottom: 25px;

                    margin-bottom: 30px;
                    li {
                        @include d-flex();
                        align-items: center;
                        gap: 15px;
                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                        i {
                            color: var(--Secondary);
                        }
                        p {
                            color: var(--White);
                        }
                    }
                }
                .box-icon-list {
                    margin-bottom: 50px;
                    li {
                        &:not(:last-child) {
                            margin-bottom: 25px;
                        }
                        .box-icon {
                            padding: 0px;
                            border: unset;
                            .icon {
                                width: 79px;
                                height: 79px;
                                background-color: var(--Text-7);
                                i {
                                    color: var(--Secondary);
                                }
                            }
                            .caption {
                                color: var(--White);
                            }
                        }
                    }
                }
            }
        }
    }
}

.s-service {
    background-color: var(--Bg-8);
    position: relative;
    padding-top: 110px;
    z-index: 1;
    .s-img-item {
        &.item-2 {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 0;
        }
        &.item-3 {
            position: absolute;
            bottom: -30px;
            height: 60px;
            width: 100%;
        }
    }
    .heading-section {
        z-index: 2;
        position: relative;
        padding-bottom: 30px;
        // margin-bottom: 30px;
    }
    .box-icon {
        position: relative;
        z-index: 2;
    }
}

.has-img-item {
    position: relative;
    margin-top: 30px;
    .tf-container {
        padding-top: 30px;
    }
    .s-img-item {
        &.z-3 {
            z-index: 3;
        }
        &.item-1 {
            position: absolute;
            top: -30px;
            width: 100%;

            &.t--40 {
                top: -40px;
            }
            img {
                height: 60px;
                width: 100%;
            }
        }
        &.item-bottom {
            position: absolute;
            bottom: -30px;
            width: 100%;
            img {
                height: 60px;
                width: 100%;
            }
        }
    }
}
.s-why-us {
    margin-bottom: 100px;
    .main-section {
        @include d-flex();
        // align-items: center;
        justify-content: space-between;
        gap: 20px;
        .video-wrap {
            img {
                max-width: 550px;
            }
            .box-video {
                position: absolute;
                top: -26px;
                left: -37px;
                background-color: var(--Secondary);
                padding: 44px 34px;
                border-radius: 20px;

                a {
                    position: relative;
                    background-color: var(--Bg-6);
                    i {
                        color: var(--White);
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 9px;
                    bottom: 9px;
                    left: 9px;
                    right: 9px;
                    border-radius: 20px;
                    border: 1px dashed var(--Border-7);
                }
            }
        }
        .content-section {
            max-width: 660px;
            width: 100%;
        }
    }
    .bot {
        margin-top: -106px;
        .benefit-list {
            @include d-flex();
            justify-content: space-between;
            max-width: 1140px;
            width: 100%;
            margin-left: auto;
            background-color: var(--Bg-6);
            border-radius: 20px;
            li {
                max-width: 380px;
                width: 100%;
                padding: 50px 50px 50px 54px;
                i {
                    color: var(--Secondary);
                    font-size: 30px;
                }
                .icon {
                    margin-bottom: 20px;
                }
                .title {
                    color: var(--White);
                    margin-bottom: 20px;
                    display: block;
                }
                .sub {
                    color: var(--Text-3);
                }
            }
        }
    }
}
.s-our-commitment {
    .main-section {
        @include d-flex();
        justify-content: space-between;
        .content-section {
            max-width: 730px;
            width: 100%;
        }
        .image-wrap {
            position: relative;
            .image {
                max-width: 756px;
                width: 100%;
                border-radius: 20px;
            }
            .img-item {
                &.item-1 {
                    position: absolute;
                    top: -21px;
                    left: 34px;
                }
            }
        }
        .box-icon-list {
            @include flex(center, space-between);
            gap: 37px;
            margin-bottom: 45px;
            li {
            }
            .box-icon {
                padding: 0px;
                border: unset;
                flex-direction: column;
                .icon {
                    width: 79px;
                    height: 79px;
                    background-color: var(--White);
                    border: 2px solid var(--Primary);
                    position: relative;
                    overflow: hidden;
                    i {
                        color: var(--Primary);
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 2px;
                        background-color: var(--Primary);
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%) rotate(-45deg);
                    }
                }
                .caption {
                    color: var(--Text-2);
                    font-size: 16px;
                    text-align: center;
                    line-height: 26px;
                }
            }
        }
    }
}
.s-project {
    // padding-bottom: 100px;
    position: relative;
    .heading-side {
        background-color: var(--Primary);
        padding: 100px 0px 450px;
        .s-img-item {
            &.item-2 {
                position: absolute;
                right: 0;
                bottom: 0;
            }
            &.item-3 {
                position: absolute;
                bottom: -30px;
                width: 100%;
                img {
                    height: 60px;
                    width: 100%;
                }
            }
        }
    }
    .slider-side {
        background-color: var(--Bg-8);
        padding-bottom: 100px;
        .slider-s-project {
            // position: relative;
            margin-top: -400px;
        }
        .bot {
            margin-top: 50px;
            @include flex(center, space-between);
            .pagination-s-project {
                position: relative;
                @include d-flex();
                align-items: center;
                // gap: 24px;
                .swiper-pagination-bullet {
                    width: 8px;
                    height: 8px;
                    background: var(--Primary);
                    opacity: 1;
                    position: relative;
                    @include flex(center, center);
                    &:not(:last-child) {
                        margin-right: 24px;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        width: 15px;
                        height: 15px;
                    }
                    &.swiper-pagination-bullet-active {
                        width: 15px;
                        height: 15px;
                        background-color: var(--Text-4);
                    }
                }
            }
        }
    }
    .s-img-item {
        &.item-4 {
            width: 100%;
            position: absolute;
            bottom: -30px;
            left: 0;
            img {
                height: 60px;
                width: 100%;
            }
        }
    }
}
.s-testimonial {
    @include d-flex();
    .image {
        width: 50%;
        position: relative;
        .img-item {
            position: absolute;
        }
    }
    .content-section {
        padding-top: 100px;
        width: 50%;
        .heading-section {
            position: relative;
            .img-item {
                &.item-2 {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    i {
                        font-size: 40px;
                        color: var(--Secondary);
                    }
                }
            }
        }
    }
}
.s-counter {
    background-color: var(--Bg-6);
    padding: 80px 0px;
    &.has-img-item {
        margin-top: 25px;
    }
    .s-img-item {
        &.item-2 {
            position: absolute;
            right: 0;
            bottom: 0;
        }
        &.item-bottom {
            z-index: 1;
        }
    }
}
.s-break-page {
    height: 550px;
    position: relative;
    z-index: 0;
    .content {
        position: absolute;
        top: 0;
        z-index: 3;
        padding: 150px 0px 0px;
        width: 100%;
        h1 {
            color: var(--White);
        }
    }
    &::after {
        z-index: 0;

        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: url("./../images/section/break-page.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    &::before {
        background-color: var(--Bg-14);
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
}

.s-faq {
    padding-top: 100px;
    .content-section {
        max-width: 720px;
        width: 100%;
        margin-right: auto;
    }
    .s-right {
        max-width: 500px;
        width: 100%;
        margin-left: auto;
        // border-radius: 20px;
        .image-wrap {
            position: relative;
            z-index: 0;
            // overflow: hidden;
            .image {
                border-radius: 20px 20px 0px 0px;
                overflow: hidden;
            }
        }
        .img-item {
            position: absolute;
            right: -20px;
            top: 30%;
            z-index: 1;
        }
        .content {
            border-radius: 0px 0px 20px 20px;
            background-color: var(--Text-4);
            padding: 45px 50px 50px 45px;
            .text {
                color: var(--White);
                line-height: 40px;
                margin-bottom: 35px;
            }
        }
    }
}
