/* Thin: 100
Extra Light: 200
Light: 300
Regular/Normal: 400
Medium: 500
Semi-Bold: 600
Bold: 700
Extra Bold: 800
Black: 900 */

/* greek-ext */

@font-face {
  font-family: "Farmhouse";
  font-style: normal;
  font-weight: normal;
  src: url(Farmhouse.otf);
}

@font-face {
  font-family: "GlitterySnowfall";
  font-style: normal;
  font-weight: normal;
  src: url(Glittery-Snowfall.ttf);
}
@font-face {
  font-family: "InterTight";
  font-style: normal;
  font-weight: 900;
  src: url(InterTight-Black.ttf);
}
@font-face {
  font-family: "InterTight";
  font-style: italic;
  font-weight: 900;
  src: url(InterTight-BlackItalic.ttf);
}
@font-face {
  font-family: "InterTight";
  font-style: normal;
  font-weight: 700;
  src: url(InterTight-Bold.ttf);
}
@font-face {
  font-family: "InterTight";
  font-style: italic;
  font-weight: 700;
  src: url(InterTight-BoldItalic.ttf);
}
@font-face {
  font-family: "InterTight";
  font-style: normal;
  font-weight: 800;
  src: url(InterTight-ExtraBold.ttf);
}
@font-face {
  font-family: "InterTight";
  font-style: italic;
  font-weight: 800;
  src: url(InterTight-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: "InterTight";
  font-style: normal;
  font-weight: 200;
  src: url(InterTight-ExtraLight.ttf);
}
@font-face {
  font-family: "InterTight";
  font-style: italic;
  font-weight: 200;
  src: url(InterTight-ExtraLightItalic.ttf);
}
@font-face {
  font-family: "InterTight";
  font-style: normal;
  font-weight: normal;
  src: url(InterTight-Italic.ttf);
}
@font-face {
  font-family: "InterTight";
  font-style: normal;
  font-weight: 300;
  src: url(InterTight-Light.ttf);
}
@font-face {
  font-family: "InterTight";
  font-style: italic;
  font-weight: 300;
  src: url(InterTight-LightItalic.ttf);
}
@font-face {
  font-family: "InterTight";
  font-style: normal;
  font-weight: 500;
  src: url(InterTight-Medium.ttf);
}
@font-face {
  font-family: "InterTight";
  font-style: italic;
  font-weight: 500;
  src: url(InterTight-MediumItalic.ttf);
}
@font-face {
  font-family: "InterTight";
  font-style: normal;
  font-weight: normal;
  src: url(InterTight-Regular.ttf);
}
@font-face {
  font-family: "InterTight";
  font-style: normal;
  font-weight: 600;
  src: url(InterTight-SemiBold.ttf);
}
@font-face {
  font-family: "InterTight";
  font-style: italic;
  font-weight: 600;
  src: url(InterTight-SemiBoldItalic.ttf);
}
@font-face {
  font-family: "InterTight";
  font-style: normal;
  font-weight: 100;
  src: url(InterTight-Thin.ttf);
}
@font-face {
  font-family: "InterTight";
  font-style: italic;
  font-weight: 100;
  src: url(InterTight-ThinItalic.ttf);
}
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 700;
  src: url(Sarabun-Bold.ttf);
}
@font-face {
  font-family: "Sarabun";
  font-style: italic;
  font-weight: 700;
  src: url(Sarabun-BoldItalic.ttf);
}
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 800;
  src: url(Sarabun-ExtraBold.ttf);
}
@font-face {
  font-family: "Sarabun";
  font-style: italic;
  font-weight: 800;
  src: url(Sarabun-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 200;
  src: url(Sarabun-ExtraLight.ttf);
}
@font-face {
  font-family: "Sarabun";
  font-style: italic;
  font-weight: 200;
  src: url(Sarabun-ExtraLightItalic.ttf);
}
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: normal;
  src: url(Sarabun-Italic.ttf);
}
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 300;
  src: url(Sarabun-Light.ttf);
}
@font-face {
  font-family: "Sarabun";
  font-style: italic;
  font-weight: 300;
  src: url(Sarabun-LightItalic.ttf);
}
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 500;
  src: url(Sarabun-Medium.ttf);
}
@font-face {
  font-family: "Sarabun";
  font-style: italic;
  font-weight: 500;
  src: url(Sarabun-MediumItalic.ttf);
}
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: normal;
  src: url(Sarabun-Regular.ttf);
}
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 600;
  src: url(Sarabun-SemiBold.ttf);
}
@font-face {
  font-family: "Sarabun";
  font-style: italic;
  font-weight: 600;
  src: url(Sarabun-SemiBoldItalic.ttf);
}
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 100;
  src: url(Sarabun-Thin.ttf);
}
@font-face {
  font-family: "Sarabun";
  font-style: italic;
  font-weight: 100;
  src: url(Sarabun-ThinItalic.ttf);
}

@font-face {
  font-family: "WorkSans";
  font-style: normal;
  font-weight: 900;
  src: url(WorkSans-Black.ttf);
}
@font-face {
  font-family: "WorkSans";
  font-style: italic;
  font-weight: 900;
  src: url(WorkSans-BlackItalic.ttf);
}
@font-face {
  font-family: "WorkSans";
  font-style: normal;
  font-weight: 700;
  src: url(WorkSans-Bold.ttf);
}
@font-face {
  font-family: "WorkSans";
  font-style: italic;
  font-weight: 700;
  src: url(WorkSans-BoldItalic.ttf);
}
@font-face {
  font-family: "WorkSans";
  font-style: normal;
  font-weight: 800;
  src: url(WorkSans-ExtraBold.ttf);
}
@font-face {
  font-family: "WorkSans";
  font-style: italic;
  font-weight: 800;
  src: url(WorkSans-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: "WorkSans";
  font-style: normal;
  font-weight: 200;
  src: url(WorkSans-ExtraLight.ttf);
}
@font-face {
  font-family: "WorkSans";
  font-style: italic;
  font-weight: 200;
  src: url(WorkSans-ExtraLightItalic.ttf);
}
@font-face {
  font-family: "WorkSans";
  font-style: normal;
  font-weight: normal;
  src: url(WorkSans-Italic.ttf);
}
@font-face {
  font-family: "WorkSans";
  font-style: normal;
  font-weight: 300;
  src: url(WorkSans-Light.ttf);
}
@font-face {
  font-family: "WorkSans";
  font-style: italic;
  font-weight: 300;
  src: url(WorkSans-LightItalic.ttf);
}
@font-face {
  font-family: "WorkSans";
  font-style: normal;
  font-weight: 500;
  src: url(WorkSans-Medium.ttf);
}
@font-face {
  font-family: "WorkSans";
  font-style: italic;
  font-weight: 500;
  src: url(WorkSans-MediumItalic.ttf);
}
@font-face {
  font-family: "WorkSans";
  font-style: normal;
  font-weight: normal;
  src: url(WorkSans-Regular.ttf);
}
@font-face {
  font-family: "WorkSans";
  font-style: normal;
  font-weight: 600;
  src: url(WorkSans-SemiBold.ttf);
}
@font-face {
  font-family: "WorkSans";
  font-style: italic;
  font-weight: 600;
  src: url(WorkSans-SemiBoldItalic.ttf);
}
@font-face {
  font-family: "WorkSans";
  font-style: normal;
  font-weight: 100;
  src: url(WorkSans-Thin.ttf);
}
@font-face {
  font-family: "WorkSans";
  font-style: italic;
  font-weight: 100;
  src: url(WorkSans-ThinItalic.ttf);
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  src: url(Nunito-Regular.ttf);
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: url(Nunito-Black.ttf);
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 900;
  src: url(Nunito-Black.ttf);
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url(Nunito-Bold.ttf);
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 700;
  src: url(Nunito-BoldItalic.ttf);
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  src: url(Nunito-ExtraLight.ttf);
}

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 200;
  src: url(Nunito-ExtraLightItalic.ttf);
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: normal;
  src: url(Nunito-Italic.ttf);
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url(Nunito-Light.ttf);
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 300;
  src: url(Nunito-LightItalic.ttf);
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: url(Nunito-Medium.ttf);
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 500;
  src: url(Nunito-MediumItalic.ttf);
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url(Nunito-SemiBold.ttf);
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 600;
  src: url(Nunito-SemiBoldItalic.ttf);
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url(Nunito-ExtraBold.ttf);
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  src: url(Nunito-ExtraBoldItalic.ttf);
}
/* Thin: 100
Extra Light: 200
Light: 300
Regular/Normal: 400
Medium: 500
Semi-Bold: 600
Bold: 700
Extra Bold: 800
Black: 900 */
