//reset accordion
.accordion {
    .accordion-item {
        border-color: transparent;
        .accordion-header {
            .accordion-button {
                @include transition3;
                position: relative;
                &::after {
                    @include transition3;
                    content: "";
                    margin-left: unset;
                }
                &::before {
                    @include transition3;
                }
                &:not(.collapsed) {
                    background-color: unset;
                    box-shadow: unset;
                    &::after {
                        transform: rotate(90deg);
                    }
                }
                &:focus {
                    box-shadow: unset;
                }
            }
        }
        .accordion-collapse {
            @include transition3;

            .accordion-body {
                @include transition3;
            }
        }
    }
}
//end reset

.tf-accordion {
    max-width: 720px;
    width: 100%;
    margin-right: auto;
    .accordion-item {
        border-radius: 10px;
        overflow: hidden;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        .accordion-header {
            background-color: var(--Primary);

            .accordion-button {
                padding: 16px 25px;
                background-color: var(--Primary);
                font-size: 18px;
                line-height: 28px;
                font-family: $font-main5;
                font-weight: 600;
                color: var(--White);
                &::before {
                    @include transition3;
                    position: absolute;
                    content: "";
                    width: 14px;
                    height: 2px;
                    top: 29px;
                    right: 35px;
                    background-color: var(--Secondary);
                }
                &::after {
                    @include transition3;

                    content: "";
                    position: absolute;
                    width: 2px;
                    height: 14px;
                    background-color: var(--Secondary);
                    right: 41px;
                    top: 23px;
                    margin-left: unset;
                    background-image: unset;
                }
            }
        }
        .accordion-collapse {
            .accordion-body {
                background-color: var(--Bg-8);
                font-family: $font-main4;
                letter-spacing: 1px;
                line-height: 26px;
                font-size: 16px;
                padding: 33px 30px;
                margin-bottom: 11px;
            }
            &.show {
                .accordion-body {
                }
            }
        }
    }
}

.tf-dropdown-sort {
    cursor: pointer;
    position: relative;
    padding: 15px 0px;
    .btn-select {
        @include d-flex();
        span {
            color: var(--White);
            font-size: 16px;
            line-height: 26px;
        }
    }
    &.tf-languages,
    &.tf-currencies {
        .btn-select {
            @include d-flex();
            gap: 5px;
            align-items: center;
            .icon {
                i {
                    color: var(--White);
                }
            }
        }
        .dropdown-menu {
            width: 96px;
            background-color: var(--Bg-11);
            top: 10px;
            border-radius: 10px;
            padding-top: unset;
            padding-bottom: 5px;
            position: absolute;
            z-index: 10;
            padding-left: 10px;
        }
        .select-item {
            cursor: pointer;
            width: 100%;
            @include transition3();
            span {
                color: var(--White);
                font-size: 16px;
                line-height: 26px;
            }
        }
    }
}
