@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes ripple {
    0% {
        width: 86.09px;
        height: 86.09px;
        opacity: 1;
    }
    100% {
        width: 109.04px;
        height: 109.04px;
        opacity: 0;
    }
}
@keyframes ripple-1 {
    0% {
        width: 86.09px;
        height: 86.09px;
        opacity: 1;
    }

    100% {
        width: 132px;
        height: 132px;
        opacity: 0;
    }
}
.fade-item {
    transform: translateY(100px);
    @include hidden;
    @include transition3;
}
@keyframes rollInRight {
    0% {
        opacity: 0;
        transform: translateX(100%) rotate(120deg);
    }
    100% {
        opacity: 1;
        transform: translateX(0) rotate(0deg);
    }
}
@keyframes ring {
    0% {
        transform: rotate(0) translateX(0);
    }
    25% {
        transform: rotate(-20deg) translateX(0.2em);
    }
    50% {
        transform: rotate(20deg) translateX(-0.2em);
    }
    75% {
        transform: rotate(-10deg) translateX(0.1em);
    }
    100% {
        transform: rotate(10deg) translateX(-0.1em);
    }
}
@keyframes tf-ani-tada {
    0%,
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
}
.rollInRight {
    animation-name: rollInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
}
