.footer {
    background-color: var(--Primary);
    padding-top: 123px;
    margin-top: 20px;
    position: relative;
    .footer-top {
        @include flex(center, space-between);
        border-bottom: 1px dashed var(--Border-5);
        padding-bottom: 30px;
        margin-bottom: 63px;
        .footer-left {
            .logo {
                img {
                    width: 100%;
                    max-width: 225px;
                }
            }
        }
        .footer-center {
            p {
                color: var(--White);
                font-size: 35px;
                line-height: 35px;
            }
        }
        .footer-right {
            position: relative;
            z-index: 2;
        }
    }
    .footer-inner {
        margin-bottom: 43px;
        position: relative;
        z-index: 5;
        .footer-inner-wrap {
            .footer-title {
                color: var(--White);
                font-weight: 600;
                margin-bottom: 31px;
                &.mb-23 {
                    margin-bottom: 23px;
                }
                &.mb-28 {
                    margin-bottom: 28px;
                }
            }
            .contact-list {
                li {
                    @include d-flex();
                    align-items: center;
                    gap: 16px;
                    &:not(:last-child) {
                        margin-bottom: 14px;
                    }
                    i {
                        color: var(--Secondary);
                    }
                    p {
                        color: var(--White);
                        font-family: $font-main4;
                        letter-spacing: 0.1px;
                        &.address {
                            letter-spacing: 0.2px;
                        }
                    }
                }
            }
            .new-post-list {
                @include d-flex();
                flex-direction: column;
                gap: 19px;
                li {
                    @include flex(center, center);
                    gap: 23px;
                    .image {
                        img {
                            max-width: 63px;
                            border-radius: 10px;
                        }
                    }
                    .content {
                        flex-direction: column;
                        @include d-flex();
                        gap: 8px;
                        .title-post {
                            color: var(--White);
                            font-weight: 500;
                            font-family: $font-main5;
                            font-size: 16px;
                            line-height: 26px;
                        }
                        p {
                            font-family: $font-main4;
                            color: var(--Secondary);
                            font-size: 14px;
                        }
                    }
                }
            }
            .link-list {
                @include d-flex();
                flex-direction: column;
                gap: 20px;
                li {
                    a {
                        display: block;
                        color: var(--White);
                        font-family: $font-main4;
                        @include transition3;
                        position: relative;
                        font-size: 16px;
                        &:hover {
                            padding-left: 22px;
                            color: var(--Secondary);
                            &:before {
                                left: -7px;
                                @include visible;
                                color: var(--Secondary);
                            }
                        }
                        &::before {
                            position: absolute;
                            font-size: 23px;
                            content: "\e926";
                            top: -4px;
                            left: -17px;
                            font-family: $fontIcon;
                            @include hidden;
                            @include transition3;
                        }
                    }
                }
            }
        }
    }
    .footer-bottom {
        border-top: 1px dashed var(--Border-5);
        padding-top: 29px;
        padding-bottom: 29px;
        @include flex(center, space-between);
        position: relative;
        z-index: 5;
        .no-copy {
            color: var(--White);
            a {
                position: relative;
                // display: block;
                color: var(--Secondary);
                @include transition3;
                &:hover {
                    &::after {
                        width: 100%;
                        left: 0;
                        right: auto;
                    }
                }
                &:after {
                    content: "";
                    position: absolute;
                    left: auto;
                    right: 0;
                    bottom: 0;
                    width: 0;
                    background-color: var(--Secondary);
                    height: 1px;
                    @include transition3;
                }
            }
        }
        .policy-list {
            @include flex(center, center);
            gap: 37px;
            li {
                position: relative;
                &:not(:last-child) {
                    &::after {
                        content: "\e90e";
                        font-family: $fontIcon;
                        position: absolute;
                        right: -25px;
                        color: var(--Secondary);
                    }
                }
                a {
                    color: var(--White);
                    font-family: $font-main4;
                    @include transition3;
                    font-size: 16px;
                    &:hover {
                        color: var(--Secondary);
                    }
                }
            }
        }
    }
    .img-item {
        position: absolute;
        &.item-1 {
            bottom: 100%;
            width: 100%;
            left: 0;
            img {
                object-fit: cover;
                width: 100%;
            }
        }
        &.item-2 {
            bottom: 0;
            right: 0;
            z-index: 0;
        }
    }
}
