.topbar {
    background-color: var(--Primary);
    padding: 17px 0px;
    .topbar-inner {
        @include flex(center, space-between);
        .topbar-left {
            background-color: var(--Bg);
            padding: 10px 20px;
            border-radius: 18px;
            span {
                color: var(--White);
                &:not(:last-child) {
                    padding-right: 15px;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        top: 50%;
                        right: 3px;
                        border-radius: 50%;
                        background-color: var(--Secondary);
                    }
                }
            }
        }
        .topbar-right {
            @include d-flex();
            gap: 55px;
            .contact-list {
                @include flex(center, center);
                gap: 35px;
                .item {
                    @include flex(center, center);
                    gap: 15px;
                    .icon {
                        width: 30px;
                        height: 30px;
                        background-color: var(--Secondary);
                        border-radius: 50%;
                        @include flex(center, center);
                        i {
                            color: var(--Primary);
                            font-size: 12px;
                        }
                    }
                    a {
                        color: var(--White);
                        font-family: $font-main4;
                        &:hover {
                            color: var(--Third);
                        }
                    }
                }
            }
            .social-list {
                @include flex(center, center);
                background-color: var(--Bg);
                border-radius: 18px;
                padding: 0px 20px;
                gap: 20px;
                a {
                    color: var(--Third);
                    &:hover {
                        color: var(--White);
                    }
                    .icon-instagram2 {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.header {
    .header-inner {
        padding-top: 30px;
        @include flex(center, space-between);
        .header-left {
            img {
                max-width: 208px;
            }
        }
        .header-center {
            .nav-list {
                @include flex(center, center);
                gap: 45px;
                .item {
                    position: relative;
                    a {
                        font-family: $font-main5;
                        font-weight: 500;
                        line-height: 50px;
                        display: block;
                    }
                    &::before {
                        content: "\e9c2";
                        font-family: "icomoon";
                        position: absolute;
                        left: -15px;
                        padding-right: 5px;
                        top: 0px;
                        color: var(--Secondary);
                        @include transition3;
                        @include hidden;
                    }
                    &:hover {
                        &::before {
                            top: 17px;
                            @include visible;
                        }
                        .sub-nav {
                            @include visible;
                            // position: absolute;
                            transform: translateY(0px);
                        }
                    }
                    &.current-menu {
                        &::before {
                            top: 17px;
                            @include visible;
                        }
                    }
                    .sub-nav {
                        @include hidden;
                        position: absolute;
                        @include transition3;
                        min-width: 200px;
                        transform: translateY(-20px);
                        z-index: 50;
                        a {
                            line-height: 20px;
                        }
                    }
                }
            }
        }
        .header-right {
            @include flex(center, center);
            gap: 42px;
            .icon-wrap {
                @include flex(center, center);
                gap: 10px;
                .icon {
                    @include flex(center, center);
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    border: 1px solid var(--Border);
                    @include transition3;
                    i {
                        font-size: 18px;
                        color: var(--Primary);
                    }
                    &:hover {
                        background-color: var(--Bg-1);
                        border-color: var(--Bg-1);
                    }
                }
            }
            .wg-welcome {
                width: 59px;
                height: 59px;
                border-radius: 50%;
                background-color: var(--Primary);
                @include flex(center, center);
                cursor: pointer;
                @include transition3;

                &:hover {
                    background-color: var(--Secondary);
                    i {
                        color: var(--Primary);
                    }
                }
                i {
                    @include transition3;

                    color: var(--White);
                    font-size: 20px;
                }
            }
        }
    }
}
