.img-hover {
    .hover-item {
        overflow: hidden;
        img {
            width: 100%;
            transform: scale(1.1);
            transition: all 1s ease-in-out;
        }
    }
    .hover-item-2 {
        overflow: hidden;
        img {
            width: 100%;
            transform: scale(1.1);
            @include transition5;
            // transition: all 0 ease-in-out;
        }
    }
    &:hover {
        .hover-item {
            img {
                transform: scale(1.15);
            }
        }
        .hover-item-2 {
            img {
                transform: scale(1.2);
            }
        }
    }
}
.ic-hover {
    .hover-icon {
        .icon,
        &.icon {
            transition: all 0.8s ease-in-out;
        }
    }
    .hover-icon-2 {
        .icon,
        &.icon {
            transition: all 0.8s ease-in-out;
        }
    }
    &:hover {
        .hover-icon {
            .icon,
            &.icon {
                transform: rotateY(360deg);
            }
        }
    }
    &:hover {
        .hover-icon-2 {
            .icon,
            &.icon {
                transform: rotateY(180deg);
            }
        }
    }
}
