// settings
$font-main: "Ce", sans-serif; //change
$font-main2: "Cardo", serif;
$font-main3: "Outfit", serif;
$fontIcon: "icomoon";
$fontIcon2: "flaticon_upskill";

:root {
    
    --Black: #000000;
    --White: #ffffff;
    --body-text: #666666;

}